/** Toolbar component */

@import "../../styles/settings";
@import "niduscss-lib-mixins";

:root {
  /* Height of toolbar */
  --Toolbar-xs-height: 3.5rem;
  --Toolbar-sm-height: 4rem;
}

/* Root component selector
   ========================================================================== */

.Toolbar {
  /* Box-model */
  display: flex;
  align-items: center;
  height: var(--Toolbar-xs-height);

  /* Visual */
  background-color: var(--App-primary-df);

  /* Bottom shadow */
  @mixin u-shadowBottom;

  /* Reponsive */
  @mixin respondTo --small-viewport {
    /* Box-model */
    height: var(--Toolbar-sm-height);
  }
}

/* Component inner classes
   ========================================================================== */

.Toolbar-item {
  /* Typography */
  color: #fff;
}